#filtro-anvanced{
	display:none;
}

.seleccion-tamano{
	margin-top:$margin_seleccion;
}

.row-avanced{
	margin-bottom:$margin_anvanced;
}

.seleccion-servicios{
	box-shadow: none;
    border:none;
}

.btn{
	background-color:$color_principal;
}