.opaco{
	background-color: rgba(0, 0, 0, .5);
}
.negro{
	font-weight: bold;
}
.carousel-item{
	color: black;
}
.carousel{
	text-align: center;
}
.boton-paulina{
	@include boton(transparent, 5px, 1px solid white);	
}
<<<<<<< HEAD
=======



>>>>>>> 87468727761303195172211112b0d00e4f1131ac
