$color_principal:#FF7E82;
$margin_anvanced:0px;
$margin_seleccion:20px;

//VARIABLES ABRIL
$transparente: transparent;
$blancos: white;
$link: underline;
$color-link: #444;
$gris: #B3B3B3;
$gris-oscuro: #484848;
$select-porte: 67%;
$size-titulo: 15px;
$size-links: 13px;